.collection-card {
  color: #fff;
  background: #1a1c1e;
  border-radius: 8px;
  height: 500px;
  min-width: 300px;
  width: 300px;
  overflow: hidden;
  margin: 12px;
  cursor: pointer;
}

.collection-card img {
  width: 100%;
}

.collection-card .eth-img {
  width: 15px;
}

.collection-card .details {
  padding: 20px;
}

.collection-card .name {
  font-size: 20px;
  font-weight: 900;
}

.collection-card .id {
  font-size: 18px;
  color: #a1a5b0;
  font-weight: 600;
}

.collection-card .price-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  object-fit: contain;
}

.collection-card .price {
  font-weight: 600;
  margin-left: 4px;
}
