.main {
  min-height: 50vh;
  color: #fff;
}

.main-content {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.collection-highlight {
  flex: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-container {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
}

.collection-details {
  flex-direction: column;
  justify-content: center;
  flex: 0.75;
}

.selected-item {
  object-fit: contain;
  max-width: min(30vw, 40vh);
  max-height: 30vw;
}

.title {
  font-size: 96px;
}
.item-number {
  color: #a1a5b0;
  font-size: 72px;
  align-self: center;
}

.owner {
  display: flex;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.owner div {
  margin: 0 5px;
}

.owner-img-container {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
  object-fit: contain;
}

.owner-img-container img {
  height: 100%;
  width: 100%;
}

.owner-details {
  display: flex;
  align-items: center;
  flex: 1;
}

.owner-name-and-handle {
  flex: 1;
}

.owner-handle {
  color: #00e0fe;
}
.owner-link {
  padding: 12px;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  border: 1px solid #fff;
  margin: 0 0 0 10px;
}

.owner-link:hover {
  cursor: pointer;
  border: #00e0fe 1px solid;
}

.owner-link img {
  height: 100%;
  width: 100%;
}

.social-links {
  display: flex;
}
